body {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.card {
  padding-top: 30px;
  width: 600px;
  margin: 30px auto;
  background-image: linear-gradient(
    45deg,
    #ff9a9e 0%,
    #fad0c4 99%,
    #fad0c4 100%
  );
  border-color: #ff3366;
  color: white;
}

.form-control {
  display: inline-block;
  vertical-align: middle;
  float: none;
  margin: 0px auto;
  text-align: center;
  margin-bottom: 30px;
  border: 1px solid white;
  width: 60%;
  color: #ff3366;
  background-color: transparent;
}

.form-control:hover {
  background-color: transparent;
  color: #ff3366;
}

.form-label {
  border-bottom: 0;
  text-align: left;
  display: inline-block;
}

.btn {
  border-radius: 5px;
  margin-bottom: 100px;
  color: white;
  font-size: 15px;
  border-color: white;
}

.btn:hover {
  background-color: white;
  opacity: 0.8;
  color: #ff3366;
}

h1 .city {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 100;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0px;
  color: white;
}

h1 .temperature #bigger-text {
  color: white;
  text-align: left;
  padding-bottom: 0;
}

a,
.temperature-symbols {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #ff3366;
}

.week-days {
  text-align: center;
}

.row-days {
  text-align: center;
  padding-top: 0px;
  display: block;
  font-size: smaller;
}

.row-days .col-sm-1 {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.row-temperature .row-images {
  text-align: center;
  display: block;
}

.row-temperature .col-sm-1 {
  display: inline-block;
  vertical-align: middle;
  float: none;
  padding-bottom: 50px;
}

.row-images .col-sm-1 {
  display: inline-block;
  vertical-align: middle;
  float: none;
  padding-bottom: 0px;
  padding-top: 100px;
}

.feedback {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  color: white;
  text-align: center;
}

.fas .fa-cloud {
  font-size: 100px;
}

.fas .fa-cloud-sun {
  font-size: 200px;
}

li {
  list-style-type: none;
  text-align: left;
  font-size: smaller;
}

ul {
  margin-top: 100px;
  margin-left: 100px;
}

#feels-like #humidity #wind {
  border-color: white;
}
